* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    max-width: 100vw;
    max-height: 100vw;
    overflow-x: hidden;
}
.container {
  padding: 10%;
  padding-top: 3%;
}

/*header*/
header ul {
  display: flex;
  gap: 25px;
  position: relative;
  left: 60vw;
}
.container ul li a{
    color: black;
}
ul li {
  list-style: none;
}

.CTA-btn {
  background-color: red;
  border-radius: 8px;
  width: 90px;
  padding: 5px;
}

.container .CTA-btn a,a{
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
/*

.CTA-btn span {
  background-color: white;
  height: 100%;
  width: 0;
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  top: 0;
  left: 0;
}
.CTA-btn:hover span{
    width: 100%;
    height: 100%;
}
.CTA-btn:hover a{
  color: black;
} */
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  gap: 10px;
}
.main img {
  /*position: absolute;
    left: 60%;
    top: 20%;*/
  height: 500px;
  margin-left: 40%;
  border-radius: 10px;
}
    

.container-01 {
  background-color: rgb(230, 227, 227);
  width: 100%;
  padding: 10%;
  padding-top: 3%;
  font-size: 20px;
}
.container-01 header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
  flex-wrap: nowrap;
}
.main-2 .CTA-btn {
  background-color: red;
  border-radius: 8px;
  width: 150px;
  padding: 5px;
  margin-top: 10%;
  border-color: white;
}
.main-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.container-02 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10%;
  gap: 80px;
  background-color: navy;
  color: white;
}

.container-02 .text-rhs p {
  margin-top: 4%;
}

.container-02 .text-rhs .CTA-btn {
  margin-top: 2%;
  border-style: none;
  width: 150px;
}

.CTA-btn a:hover{
    color: black;
    transform: scale(1.1);
}


.footer{
    padding: 10%;
}
.footer label{
    position: absolute;
    
}
.footer ul{
    display: flex;
    position: absolute;
    left: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.footer ul li a {
  color: rgb(172, 168, 168);


}
img:hover{
    transform: scale(1.1);
}
